.header {
  font-size: 14px;
  line-height: 17px;
}


.header__top {
  padding: 11px 0 12px; 
  background: #F8F8F8;
}

.header__top .container {
  display: flex;
  align-items: flex-start;
  max-width: 1311px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}