#checkbox-auth {       
  display: none;
  &+.checkbox-auth-wrap, 
  &+.checkbox-auth-wrap::after {
    transition: all .3s;
  }
  &+.checkbox-auth-wrap {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 20px;
    border-radius: 100px;
    cursor: pointer;
  }
  &+.checkbox-auth-wrap::after {
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 25%);
    background-color: #fff;        
  }
  &:checked+.checkbox-auth-wrap::after {
    left: 17px;
  }
  &+.checkbox-auth-wrap {             
    background-color: #BDBDBD;
  }
  &:checked+.checkbox-auth-wrap {
    background-color: #664EF9;
  }
  &:checked+.checkbox-auth-wrap:hover {
    background-color: #612BFB;
  }
}