.form {
  &__row {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__label_input {
    background-color: #F7F7F7;
    border-radius: 30px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    transition: color .3s, border-color .3s, background-color .3s;
    gap: 20px;
    max-width: 306px;
    color: rgba(104, 104, 104, .3);
    &:focus,
    &:focus-visible,
    &:hover,
    &:focus-within {
      transition: color .3s, border-color .3s, background-color .3s;
      border-color: rgba(102, 78, 249, 0.8);
      background-color: #fff;
      color: #664EF9;
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
  &__input {
    border: none;
    outline: none;
    background-color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1E2123;
    max-width: 68%;
  }
  &__input::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #686868;
  }
  &__label_checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.icon_error {
  color: #EB5757;
  width: 21px;
  height: 20px;
}