.pagination__list {
  display: flex;
}

.pagination__item {
  width: 22px;
  height: 22px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color .3s, color .3s, font-weight .3s;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #686868;
}

.pagination__item.pagination__item--active,
.pagination__item:hover {
  font-weight: 700;
  color: #000000;
  border-bottom-color: #FFD54F;
  transition: border-bottom-color .3s, color .3s, font-weight .3s;
}