.input {
  border-color: #4E64F9;
  & .MuiOutlinedInput-input .MuiInputBase-input .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    color: aqua;
  }
}

.form__icon {
  width: 20px;
  height: 20px;
}

.icon_error {
  color: #EB5757;
}