.signup {
  color: #686868;
  &__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
    margin-left: 72px;
    text-align: left;
  }
  &__main {
    display: flex;
    gap: 50px;
  }
  &__text {
    font-size: 14px;
    color: #686868;
    width: 100%;
    display: inline-block;
    max-width: 388px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

.form__row {
  display: flex;
  align-items: center;
  width: 100%;
}

.signup {
  &__footer {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #686868;
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    text-align: left;
  }
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #664EF9;
    transition: color .3s;
    &:hover {
      color: #5C35F9;
    }
  }
}

.form__btn {
  background-color: #FFD54F;
  border-radius: 33px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1E2123;
  transition: background-color .3s;
  cursor: pointer;
  border: none;
  &[disabled] {
    cursor: not-allowed;
    background-color: #E6E6CD;
  }
  &[disabled]:hover {
    background-color: #808080;
  }
  &:hover {
    background-color: #FEC100;
  }
  &_error {
    border-radius: 33px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    cursor: default;
    border: none;
    color: #fff;
    background-color: #EB5757;
    span {
      margin-right: 15px;
    }
  } 
}

.text_title {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.text_list {
  list-style: disc;
  list-style-position: inside;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 70px;
}

.icon_error_message {
  color: #FFFFFF;
  opacity: 0.5;
  width: 21px;
  height: 20px;
}