.share {
  display: flex;
  align-items: center;
  gap: 15px;
}

.share__title {
  font-size: 14px;
  line-height: 17px;
  color: #1E2123;
}

.share__list {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.share__link {
  background: rgba(102, 78, 249, 0.1);
  border-radius: 19px;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share__img {
  width: 17px;
  height: 17px;
}