.share {
  display: flex;
  align-items: center;
  gap: 15px;
  &__title {
    font-size: 14px;
    line-height: 17px;
    color: #1E2123;
  }
  &__list {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }
  &__item:hover .share__img {
    color: #000;
    transition: color .3s;
  }
  &__link {
    background: rgba(102, 78, 249, 0.1);
    border-radius: 19px;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
    width: 17px;
    height: 17px;
    color: #664EF9;
    transition: color .3s;
  }
}